@charset "UTF-8";
/* CSS Document */

#contenedor {
	position: relative; /* Contenedor de referencia */
  display: inline-block;

} 

#fondo {
  display: block;
  width: 1000px; /* Ajusta según sea necesario */
  height: auto;
	
   
}


#botonQuienesSon {
  position: absolute; /* Posicionamiento respecto al contenedor */
  top: 570px;  /* Distancia desde arriba */
  left: 250px; /* Distancia desde la izquierda */
  z-index: 10; /* Asegura que esté por encima */
  width: 200px; /* Tamaño de la imagen superior */
	
}

#inicio {
 position: absolute; /* Posicionamiento respecto al contenedor */
  top: 450px;  /* Distancia desde arriba */
  right: 420px; /* Distancia desde la izquierda */
  z-index: 10; /* Asegura que esté por encima */
  width: 150px; /* Tamaño de la imagen superior */
	
}

#botonGaleria {
	position: absolute; /* Posicionamiento respecto al contenedor */
  top: 570px;  /* Distancia desde arriba */
  right: 250px; /* Distancia desde la izquierda */
  z-index: 10; /* Asegura que esté por encima */
  width: 200px; /* Tamaño de la imagen superior */
}